node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
*.tar

# OS
.DS_Store
Thumbs.db

# Env
.env
env/*
!env/example

# Staging certs
certs/*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
