node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
*.tar
_old/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Staging certs
certs/*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
