:root {
    color-scheme: light dark;

    --black: #070709;
    --white: #fff;
    --yellow: #f6d653;

    --fg: light-dark(var(--black), var(--white));
    --bg: light-dark (var(--white), var(--black));
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    font-size: 36px;
}

.swipe {
    display: grid;
    grid-template-columns: auto 1fr auto;
    overflow-x: auto;
    border-block: 1px #666 solid;
    scroll-snap-type: x mandatory;
    container-type: inline-size;
    scrollbar-width: none;

    > :nth-child(2) {
        width: 100cqw;
        padding: 10px 20px;
        scroll-snap-align: center;
    }

    &.hold {
        > * {
            &:first-child {
                /*animation: scroll_hold 0.0001s forwards;*/
                scroll-snap-align: start;
            }
            &:last-child {
                scroll-snap-align: end;
            }
        }
    }
}

@keyframes scroll_hold {
    to {
        scroll-snap-align: start;
    }
}
